# Ignore dependencies
node_modules/
.pnp
.pnp.js

# Ignore build files
out/
build/
dist/
.next/

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore misc files
.env
.env.local
.env.*.local
